{% extends 'store/main.html' %}
{% load static %}
{% static "images" as baseURL %}
{% block content %}

    <!-- END nav -->

    <div class="hero-wrap hero-bread" style="background-image: url('{% static 'images/bg_1.jpg' %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Thanh toán</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-7 ftco-animate">
						<form action="#" class="billing-form">
							<h3 class="mb-4 billing-heading">Chi tiết thanh toán</h3>
	          	<div class="row align-items-end">
	          		<div class="col-md-6">
	                <div class="form-group">
	                	<label for="ten">Họ & Tên</label>
	                  <input type="text" class="form-control" placeholder="">
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label for="phone">Số điện thoại*</label>
	                  <input type="text" class="form-control" placeholder="">
	                </div>
                </div>
                <div class="w-100"></div>
		            <div class="col-md-12">
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                	<label for="streetaddress">Địa chỉ</label>
	                  <input type="text" class="form-control" placeholder="Vui lòng nhập đầy đủ địa chỉ giao hàng">
	                </div>
		            </div>
		            <div class="col-md-6">
		            	<div class="form-group">
							<label for="tinh">Tỉnh thành</label>
	                  <input type="text" class="form-control" placeholder="">
	                </div>
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-6">
	                <div class="form-group">
	                	<label for="email">Email</label>
	                  <input type="text" class="form-control" placeholder="">
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label for="ghichu">Ghi chú</label>
	                  <input type="text" class="form-control" placeholder="(nếu có)">
	                </div>
                </div>
	            </div>
	          </form><!-- END -->
					</div>
					<div class="col-xl-5">
	          <div class="row mt-5 pt-3">
	          	<div class="col-md-12 d-flex mb-5">
	          		<div class="cart-detail cart-total p-3 p-md-4">
		    					<p class="d-flex total-price">
		    						<span>Tổng cộng</span>
		    						<span>$17.60</span>
		    					</p>
								</div>
	          	</div>
	          	<div class="col-md-12">
	          		<div class="cart-detail p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Phương thức thanh toán</h3>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" class="mr-2">Chuyển khoản trực tiếp</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" class="mr-2">Paypal</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="checkbox">
											   <label><input type="checkbox" value="" class="mr-2">Tôi đã đọc và chấp nhận các điều khoản và điều kiện</label>
											</div>
										</div>
									</div>
									<p><a href="#"class="btn btn-primary py-3 px-4">Đặt hàng</a></p>
								</div>
	          	</div>
	          </div>
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->


  </hr>
  <section class="bg-light">
	  <footer class="ftco-footer ftco-section">
		  <div class="container">
			  <div class="row">
				  <div class="mouse">
					  <a href="#" class="mouse-icon">
						  <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
					  </a>
				  </div>
			  </div>
			  <div class="row">
				  <div class="col-lg-3">
					  <div class="ftco-footer-widget">
						  <h2 class="ftco-heading-2">Nông sản sạch</h2>
						  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
							  <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
							  <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
							  <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
						  </ul>
					  </div>
				  </div>
				  <div class="col-lg-3">
					<div class="ftco-footer-widget ml-md-5">
						<h2 class="ftco-heading-2">Menu</h2>
						<ul class="list-unstyled">
							<li><a href="index.html" class="py-2 d-block">Trang chủ</a></li>
							<li><a href="shop.html" class="py-2 d-block">Sản Phẩm</a></li>
							<li><a href="about.html" class="py-2 d-block">Giới thiệu</a></li>
							<li><a href="contact.html" class="py-2 d-block">Liên hệ</a></li>
						</ul>
					</div>
				</div>
				  <div class="col-md-3">
					  <div class="ftco-footer-widget">
						  <h2 class="ftco-heading-2">Liên hệ</h2>
						  <div class="d-flex">
							  <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
								  <li><a href="#" class="py-2 d-block">Liên hệ</a></li>
							  </ul>
						  </div>
					  </div>
				  </div>
				  <div class="col-lg-3">
					  <div class="ftco-footer-widget">
						  <h2 class="ftco-heading-2">Địa chỉ</h2>
						  <div class="block-23">
							  <ul>
								  <li><span class="icon icon-map-marker"></span><span class="text">140 Lê Trọng Tấn, Tây Thạnh Tân Phú, HCM</span></li>
								  <li><a href="#"><span class="icon icon-phone"></span><span class="text">84+ 3899258</span></a></li>
								  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">nongsansach.food@gmail.com</span></a></li>
							  </ul>
						  </div>
					  </div>
				  </div>
			  </div>
		  </div>

	  </footer>
	  <hr>
	  <div class="text-center bg-light pt-2 pb-2">
		  <p>@Copyright 2020</p>
	  </div>
  </section>

    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  {% endblock content %}