{% extends 'store/main.html' %}
{% load static %}
{% static "images" as baseURL %}
{% block content %}


<!-- <div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
            
					<span class="login100-form-title">
						Đăng kí
					</span>

                <div class="wrap-input100  validate-input m-b-32" data-validate="Vui lòng nhập tên đăng nhập">
                    <input class="input100" type="text" name="username" placeholder="Tên tài khoản">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Vui lòng nhập mật khẩu">
                    <input class="input100" type="password" name="pass" placeholder="Mật khẩu">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-t-32" data-validate="Vui lòng nhập lại mật khẩu">
                    <input class="input100" type="password" name="pass" placeholder="Nhập lại mật khẩu">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-t-32" data-validate="Vui lòng nhập email">
                    <input class="input100" type="text" name="email" placeholder="Email">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn m-t-32">
                    <button class="login100-form-btn">
                        Tạo tài khoản
                    </button>
                </div>

                <div class="flex-col-c p-t-170 p-b-40">
                    <span class="txt1 p-b-9">
							Bạn muốn đăng nhập ?
						</span>
                    <a href="login.html" class="txt3">
                        ĐĂNG NHẬP
                    </a>
                </div>
            </form>
        </div>
    </div>
</div> -->

 <form action="register" method = "post">
    {% csrf_token %}

    <input type="text" name ="first_name" placeholder="First name"><br>
    <input type="text" name ="last_name" placeholder="Last name"><br>
    <input type="text" name ="username" placeholder="User name"><br>
    <input type="text" name ="email" placeholder="Email"><br>
    <input type="password" name ="password1" placeholder="Password"><br> 
    <input type="password" name ="password2" placeholder="Confirm Password"><br>
    <input type="Submit">
 </form>       
 <div>
     {% for message in messages %}
     <h3>{{message}}</h3>
     {% endfor %}
 </div>
<section class="bg-light">
    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="ftco-footer-widget">
                        <h2 class="ftco-heading-2">Nông sản sạch</h2>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ftco-footer-widget ml-md-5">
                        <h2 class="ftco-heading-2">Menu</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Trang chủ</a></li>
                            <li><a href="#" class="py-2 d-block">Sản Phẩm</a></li>
                            <li><a href="#" class="py-2 d-block">Giới thiệu</a></li>
                            <li><a href="#" class="py-2 d-block">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftco-footer-widget">
                        <h2 class="ftco-heading-2">Liên hệ</h2>
                        <div class="d-flex">
                            <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                                <li><a href="#" class="py-2 d-block">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ftco-footer-widget">
                        <h2 class="ftco-heading-2">Địa chỉ</h2>
                        <div class="block-23">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">140 Lê Trọng Tấn, Tây Thạnh Tân Phú, HCM</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">84+ 3899258</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">nongsansach.food@gmail.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <hr>
    <div class="text-center bg-light pt-2 pb-2">
        <p>@Copyright 2020</p>
    </div>
</section>


{% endblock content %}